<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Disable unwanted eclipse UI"
            id="com.test.ui.disable"
            name="Disable">
      </activity>
   <activityPatternBinding
   activityId="com.test.ui.disable"
   pattern="edu\.toronto\.cs\.openome_model\.editor/edu\.toronto\.cs\.openome_model\.presentation\.openome_modelModelWizardID">
   </activityPatternBinding>
   </extension>


   <extension point="core.example">
      <example file="pattern/README"/>
      <example file="pattern/openome_model.ecore"/>
      <example file="pattern/security.atl"/>
      <example file="pattern/pattern.q7"/>
      <example file="pattern/pattern.oom"/>
      <example file="pattern/pattern.ood"/>
      <example file="pattern/pattern.png"/>
      <example file="pattern/pattern-after.oom"/>
      <example file="pattern/pattern-after.ood"/>
      <example file="pattern/pattern-after.png"/>
      <example file="pattern/openaccount.q7"/>
      <example file="pattern/openaccount.oom"/>
      <example file="pattern/openaccount.ood"/>
      <example file="pattern/openaccount.png"/>
      <example file="pattern/openaccount-after.oom"/>
      <example file="pattern/openaccount-after.ood"/>
      <example file="pattern/openaccount-after.png"/>
      <example file="pattern/openaccount-attack.oom"/>
      <example file="pattern/openaccount-attack.ood"/>
      <example file="pattern/openaccount-attack.png"/>
   </extension>    
   <extension point="core.generator">
      <generator id="EMF model generation" 
      	class="codegen.EMFProjectsGeneration"/>
      <generator id="GMF diagram generation" 
      	class="codegen.GMFProjectGeneration"/>
   </extension>

   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="openome_model.intro"/>
      <introProductBinding
            introId="openome_model.intro"
            productId="openome_model.product"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="openome_model.introConfigId"
            introId="openome_model.intro">
         <presentation home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css"/>
         </presentation>
      </config>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="OpenOME">
         <property
               name="windowImages"
               value="icons/actor.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png">
         </property>
         <property
               name="aboutText"
               value="The Organization Modelling Environment (OME) is a general, &#x0A;&#x0A;goal-oriented and/or agent-oriented modeling and analysis tool. &#x0A;&#x0A;It provides users with a graphical interface to develop models, &#x0A;&#x0A;and supports access to a powerful knowledge base that allows for &#x0A;&#x0A;sophisticated computer-aided analysis. This tool is intended to &#x0A;&#x0A;provide software developers with a clear link between the &#x0A;&#x0A;requirements, specification and architectural design phases of &#x0A;&#x0A;development. Attention is also being placed on this use of this tool &#x0A;&#x0A;in business process reengineering.&#x0A;&#x0A;OpenOME integrates an improved version of OME with other tools &#x0A;&#x0A;to support goal-oriented, agent-oriented and aspect-oriented &#x0A;&#x0A;requirements engineering.">
         </property>
         <property
               name="aboutImage"
               value="eclipse_lg.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C8D5EA">
         </property>
         <property
               name="startupProgressRect"
               value="0,400,455,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,220,441,20">
         </property>
         <property
               name="appName"
               value="OpenOME">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
