<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point 
   	id="convertor" 
   	name="Convertor Extension Point" 
   	schema="schema/convertor.exsd"/>
   <extension-point 
   	id="example" 
   	name="Convertor Extension Point" 
   	schema="schema/example.exsd"/>
   <extension-point 
   	id="generator" 
   	name="Generator Extension Point" 
   	schema="schema/generator.exsd"/>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet label="Actions"
            visible="true"
            id="action.actionSet">
         <menu
               id="openome_developer_menu"
               label="Developer"
               path="openome_top_menu">
         </menu>
         <menu
               id="openome_user_menu"
               label="User"
               path="openome_top_menu">
         </menu>
         <action
               class="action.CreateExamplesAction"
               icon="icons/example.gif"
               id="openome_examples"
               label="Generate examples"
               menubarPath="openome_top_menu/openome_developer_menu"
               toolbarPath="openome_group"
               tooltip="Create the Examples project">
         </action>
         <action
               class="action.ImportProjects"
               icon="icons/build.gif"
               id="openome_import"
               label="Import Projects"
               menubarPath="openome_top_menu/openome_user_menu"
               toolbarPath="openome_group"
               tooltip="Import Projects">
         </action>
         <action
               class="action.CleanProjects"
               icon="icons/clean.gif"
               id="openome_clean"
               label="Clean Projects"
               menubarPath="openome_top_menu/openome_user_menu"
               toolbarPath="openome_group"
               tooltip="Clean Projects">
	 	</action>
         <menu
               id="openome_top_menu"
               label="OpenOME"
               path="OpenOME">
         </menu>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page name="OpenOME"
            category="primary"
            class="ui.PrefPage"
            id="preference">
      </page>
   </extension>
   <extension point="org.eclipse.help.toc">
      <toc file="help.xml"/>
      <toc file="helpToc.xml" primary="true"/>
   </extension>
</plugin>
