<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension-point 
   	id="convertor" 
   	name="Convertor Extension Point" 
   	schema="schema/convertor.exsd"/>
   <extension-point 
   	id="example" 
   	name="Convertor Extension Point" 
   	schema="schema/example.exsd"/>
   <extension-point 
   	id="generator" 
   	name="Generator Extension Point" 
   	schema="schema/generator.exsd"/>
   	

   
  <extension point="org.eclipse.ui.preferencePages">
      <page name="OpenOME"
            category="primary"
            class="edu.toronto.cs.openome.core.ui.PrefPage"
            id="preference">
      </page>
   </extension>
   
   <extension point="org.eclipse.help.toc">
      <toc file="help.xml"/>
      <toc file="helpToc.xml" primary="true"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.toronto.cs.openome.core.action.CreateExamplesHandler"
            id="openome_example_cmd"
            name="openome_example_cmd">
      </command>
      <command
            defaultHandler="edu.toronto.cs.openome.core.action.ImportProjects"
            id="openome_import_cmd"
            name="openome_import_cmd">
      </command>
      <command
            defaultHandler="edu.toronto.cs.openome.core.action.CleanProjects"
            id="openome_clean_cmd"
            name="openome_clean_cmd">
      </command>
      
      </extension>
     
	<extension 
		id="openome_main_menu_extension"
		point="org.eclipse.ui.menus">
      	<menuContribution
            	locationURI="menu:org.eclipse.ui.main.menu?after=additions">
        	<menu
                icon="icons/goal.gif"
                id="openome_top_menu"
                label="OpenOME"
                mnemonic="O">
         	<!--<command
               	commandId="openome_clean_cmd"
                icon="icons/clean.gif"
				id="openome_clean_menu"
				label="Clean Projects">       
         	</command>
         	<command
                commandId="openome_import_cmd"
                icon="icons/build.gif"
				id="openome_import_menu"
				label="Import Projects"> 
         	</command> -->
         	<command
               	commandId="openome_example_cmd"
                icon="icons/example.gif"
				id="openome_example_menu"
				label="Generate Example Project"> 
         	</command>
          </menu>
		</menuContribution>
	</extension>

</plugin>
