<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="goalmodel_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="goalmodel_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="edu.toronto.cs.goalmodel.diagram.part.GoalmodelDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/GoalmodelDiagramFile.gif"
         extensions="goalmodel_diagram"
         default="true"
         class="edu.toronto.cs.goalmodel.diagram.part.GoalmodelDiagramEditor"
         matchingStrategy="edu.toronto.cs.goalmodel.diagram.part.GoalmodelMatchingStrategy"
         contributorClass="edu.toronto.cs.goalmodel.diagram.part.GoalmodelDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="edu.toronto.cs.goalmodel.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/GoalmodelDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="edu.toronto.cs.goalmodel.diagram.part.GoalmodelCreationWizard"
  	     id="edu.toronto.cs.goalmodel.diagram.part.GoalmodelCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="edu.toronto.cs.goalmodel.diagram.LoadResource"
            objectClass="edu.toronto.cs.goalmodel.diagram.edit.parts.ModelEditPart">
         <action
               class="edu.toronto.cs.goalmodel.diagram.part.GoalmodelLoadResourceAction"
               enablesFor="1"
               id="edu.toronto.cs.goalmodel.diagram.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            id="edu.toronto.cs.goalmodel.diagram.InitDiagram"
            nameFilter="*.goalmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="edu.toronto.cs.goalmodel.diagram.part.GoalmodelInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="edu.toronto.cs.goalmodel.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="GoalmodelPresentation">
         <Priority name="Lowest"/>
         <ViewId id="edu.toronto.cs.goalmodel.diagram.part.GoalmodelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="GoalmodelPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="edu.toronto.cs.goalmodel.diagram.part.GoalmodelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="GoalmodelRender">
         <Priority name="Lowest"/>
         <ViewId id="edu.toronto.cs.goalmodel.diagram.part.GoalmodelDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="edu.toronto.cs.goalmodel.diagram.edit.parts.DependencyLabelEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="edu.toronto.cs.goalmodel.diagram.edit.parts.WrapLabelEditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="edu.toronto.cs.goalmodel.diagram.edit.parts.WrapLabel2EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="edu.toronto.cs.goalmodel.diagram.edit.parts.WrapLabel3EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="edu.toronto.cs.goalmodel.diagram.edit.parts.WrapLabel4EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="edu.toronto.cs.goalmodel.diagram.edit.parts.WrapLabel5EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="edu.toronto.cs.goalmodel.diagram.edit.parts.WrapLabel6EditPart"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
            <popupPredefinedItem id="deleteFromModelAction" remove="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="edu.toronto.cs.goalmodel.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="edu.toronto.cs.goalmodel.diagram.general"
            name="%preference.page.title.edu.toronto.cs.goalmodel.diagram.general"
            class="edu.toronto.cs.goalmodel.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.goalmodel.diagram.appearance"
            name="%preference.page.title.edu.toronto.cs.goalmodel.diagram.appearance"
            category="edu.toronto.cs.goalmodel.diagram.general"
            class="edu.toronto.cs.goalmodel.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="edu.toronto.cs.goalmodel.diagram.connections"
            name="%preference.page.title.edu.toronto.cs.goalmodel.diagram.connections"
            category="edu.toronto.cs.goalmodel.diagram.general"
            class="edu.toronto.cs.goalmodel.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.goalmodel.diagram.printing"
            name="%preference.page.title.edu.toronto.cs.goalmodel.diagram.printing"
            category="edu.toronto.cs.goalmodel.diagram.general"
            class="edu.toronto.cs.goalmodel.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.goalmodel.diagram.rulersAndGrid"
            name="%preference.page.title.edu.toronto.cs.goalmodel.diagram.rulersAndGrid"
            category="edu.toronto.cs.goalmodel.diagram.general"
            class="edu.toronto.cs.goalmodel.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="edu.toronto.cs.goalmodel.diagram.pathmaps"
            name="%preference.page.title.edu.toronto.cs.goalmodel.diagram.pathmaps"
            category="edu.toronto.cs.goalmodel.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="edu.toronto.cs.goalmodel.diagram"
            labelProvider="edu.toronto.cs.goalmodel.diagram.sheet.GoalmodelSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="edu.toronto.cs.goalmodel.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="edu.toronto.cs.goalmodel.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="edu.toronto.cs.goalmodel.diagram.sheet.GoalmodelPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="edu.toronto.cs.goalmodel.diagram.providers.GoalmodelViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Goalmodel"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="edu.toronto.cs.goalmodel.diagram.providers.GoalmodelEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="edu.toronto.cs.goalmodel.diagram.providers.GoalmodelModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="edu.toronto.cs.goalmodel.diagram.providers.GoalmodelIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="edu.toronto.cs.goalmodel.diagram.providers.GoalmodelParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Model_79"
               name="%metatype.name.Model_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Model"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.ModelEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Actor_1001"
               name="%metatype.name.Actor_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Actor"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.ActorEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Agent_1002"
               name="%metatype.name.Agent_1002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Agent"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.AgentEditHelper">
            <param name="semanticHint" value="1002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Position_1003"
               name="%metatype.name.Position_1003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Position"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.PositionEditHelper">
            <param name="semanticHint" value="1003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Role_1004"
               name="%metatype.name.Role_1004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Role"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.RoleEditHelper">
            <param name="semanticHint" value="1004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Aspect_1005"
               name="%metatype.name.Aspect_1005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Aspect"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.AspectEditHelper">
            <param name="semanticHint" value="1005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Goal_1006"
               name="%metatype.name.Goal_1006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Goal_2001"/>
            <param name="semanticHint" value="1006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Softgoal_1007"
               name="%metatype.name.Softgoal_1007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Softgoal_2002"/>
            <param name="semanticHint" value="1007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Task_1008"
               name="%metatype.name.Task_1008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Task_2004"/>
            <param name="semanticHint" value="1008"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Resource_1009"
               name="%metatype.name.Resource_1009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Resource_2003"/>
            <param name="semanticHint" value="1009"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Goal_2001"
               name="%metatype.name.Goal_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Goal"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.GoalEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Softgoal_2002"
               name="%metatype.name.Softgoal_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Softgoal"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.SoftgoalEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Resource_2003"
               name="%metatype.name.Resource_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Resource"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.ResourceEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Task_2004"
               name="%metatype.name.Task_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Task"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.TaskEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Goal_2005"
               name="%metatype.name.Goal_2005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Goal_2001"/>
            <param name="semanticHint" value="2005"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Softgoal_2006"
               name="%metatype.name.Softgoal_2006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Softgoal_2002"/>
            <param name="semanticHint" value="2006"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Resource_2007"
               name="%metatype.name.Resource_2007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Resource_2003"/>
            <param name="semanticHint" value="2007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Task_2008"
               name="%metatype.name.Task_2008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Task_2004"/>
            <param name="semanticHint" value="2008"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Goal_2009"
               name="%metatype.name.Goal_2009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Goal_2001"/>
            <param name="semanticHint" value="2009"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Softgoal_2010"
               name="%metatype.name.Softgoal_2010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Softgoal_2002"/>
            <param name="semanticHint" value="2010"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Resource_2011"
               name="%metatype.name.Resource_2011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Resource_2003"/>
            <param name="semanticHint" value="2011"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Task_2012"
               name="%metatype.name.Task_2012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Task_2004"/>
            <param name="semanticHint" value="2012"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Goal_2013"
               name="%metatype.name.Goal_2013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Goal_2001"/>
            <param name="semanticHint" value="2013"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Softgoal_2014"
               name="%metatype.name.Softgoal_2014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Softgoal_2002"/>
            <param name="semanticHint" value="2014"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Resource_2015"
               name="%metatype.name.Resource_2015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Resource_2003"/>
            <param name="semanticHint" value="2015"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Task_2016"
               name="%metatype.name.Task_2016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Task_2004"/>
            <param name="semanticHint" value="2016"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Goal_2017"
               name="%metatype.name.Goal_2017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Goal_2001"/>
            <param name="semanticHint" value="2017"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Softgoal_2018"
               name="%metatype.name.Softgoal_2018"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Softgoal_2002"/>
            <param name="semanticHint" value="2018"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Resource_2019"
               name="%metatype.name.Resource_2019"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Resource_2003"/>
            <param name="semanticHint" value="2019"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <specializationType
               id="edu.toronto.cs.goalmodel.diagram.Task_2020"
               name="%metatype.name.Task_2020"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.toronto.cs.goalmodel.diagram.Task_2004"/>
            <param name="semanticHint" value="2020"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.Dependency_3001"
               name="%metatype.name.Dependency_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Dependency"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.DependencyEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.AndDecomposition_3002"
               name="%metatype.name.AndDecomposition_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AndDecomposition"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.AndDecompositionEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.OrDecomposition_3003"
               name="%metatype.name.OrDecomposition_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="OrDecomposition"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.OrDecompositionEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.MakeContribution_3004"
               name="%metatype.name.MakeContribution_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="MakeContribution"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.MakeContributionEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.HelpContribution_3005"
               name="%metatype.name.HelpContribution_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="HelpContribution"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.HelpContributionEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.HurtContribution_3006"
               name="%metatype.name.HurtContribution_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="HurtContribution"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.HurtContributionEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///edu/toronto/cs/goalmodel.ecore">
         <metamodelType
               id="edu.toronto.cs.goalmodel.diagram.BreakContribution_3007"
               name="%metatype.name.BreakContribution_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="BreakContribution"
               edithelper="edu.toronto.cs.goalmodel.diagram.edit.helpers.BreakContributionEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="GoalmodelClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="edu.toronto.cs.goalmodel.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="GoalmodelClientContext">
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Model_79"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Actor_1001"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Agent_1002"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Position_1003"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Role_1004"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Aspect_1005"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Goal_1006"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Softgoal_1007"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Task_1008"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Resource_1009"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Goal_2001"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Softgoal_2002"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Resource_2003"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Task_2004"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Goal_2005"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Softgoal_2006"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Resource_2007"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Task_2008"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Goal_2009"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Softgoal_2010"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Resource_2011"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Task_2012"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Goal_2013"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Softgoal_2014"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Resource_2015"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Task_2016"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Goal_2017"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Softgoal_2018"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Resource_2019"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Task_2020"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.Dependency_3001"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.AndDecomposition_3002"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.OrDecomposition_3003"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.MakeContribution_3004"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.HelpContribution_3005"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.HurtContribution_3006"/>
         <elementType ref="edu.toronto.cs.goalmodel.diagram.BreakContribution_3007"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.toronto.cs.goalmodel.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="edu.toronto.cs.goalmodel.diagram"
           properties="isURIEditorInput"
           class="edu.toronto.cs.goalmodel.diagram.part.GoalmodelUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.toronto.cs.goalmodel.diagram.DomainModelElementPropertyTester"
           type="org.eclipse.emf.ecore.EObject"
           namespace="edu.toronto.cs.goalmodel.diagram"
           properties="isDomainModelElement"
           class="edu.toronto.cs.goalmodel.diagram.part.GoalmodelDomainModelElementTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="edu.toronto.cs.goalmodel.diagram.resourceContent"/>
			<contentExtension pattern="edu.toronto.cs.goalmodel.diagram.domainResourceContent"/>
            <contentExtension pattern="edu.toronto.cs.goalmodel.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="edu.toronto.cs.goalmodel.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="edu.toronto.cs.goalmodel.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelNavigatorContentProvider" 
            labelProvider="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelNavigatorLabelProvider"
            icon="icons/obj16/GoalmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="goalmodel_diagram"/>
               </and>
               <instanceof value="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="edu.toronto.cs.goalmodel.diagram.navigatorSorter" 
               class="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="goalmodel_diagram"/>
                  </and>
                  <instanceof value="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="edu.toronto.cs.goalmodel.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelDomainNavigatorContentProvider" 
            labelProvider="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelDomainNavigatorLabelProvider"
            icon="icons/obj16/GoalmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="goalmodel"/>
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject"/>
                  <test property="edu.toronto.cs.goalmodel.diagram.isDomainModelElement"/>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
       	       <instanceof value="org.eclipse.emf.ecore.EObject"/>
       	       <test property="edu.toronto.cs.goalmodel.diagram.isDomainModelElement"/>
       	    </and>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="edu.toronto.cs.goalmodel.diagram.navigatorActionProvider"
            class="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="edu.toronto.cs.goalmodel.diagram.navigatorLinkHelper"
            class="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="edu.toronto.cs.goalmodel.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="edu.toronto.cs.goalmodel.diagram.navigator.GoalmodelAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="edu.toronto.cs.goalmodel.diagram.part.GoalmodelDiagramUpdateCommand"
         description="%update.diagram.description"
         id="edu.toronto.cs.goalmodel.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key 
         commandId="edu.toronto.cs.goalmodel.diagram.updateDiagram"
         contextId="edu.toronto.cs.goalmodel.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
</plugin>
