<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.toronto.cs.ast"
   name="AST Plug-in"
   version="1.0.0"
   provider-name="">
   <runtime>
      <library name="ast.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="edu.toronto.cs.goal"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="core"/>
      <import plugin="edu.toronto.cs.goal.editor"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.apt.core"/>
      <import plugin="org.eclipse.jdt.apt.ui"/>
      <import plugin="org.eclipse.jdt.core.manipulation"/>
   </requires>
   <extension point="core.example">
      <example file="original/main.java"/>
      <example file="original/.project"/>
      <example file="refactored/main.java"/>
      <example file="softgoal/main.java"/>
      <example file="nfr/main.java"/>
      <example file="goto/before.f"/>
      <example file="goto/after.f"/>      
   </extension>    
   <extension point="core.convertor">
      <convertor id="Java to Goal" class="convertor.Java_Goal"
            input="java" output="xmi"/>
      <convertor id="Goal to Q7" class="convertor.Goal_Q7"
            input="xmi" output="q7"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.java"
            id="contribution1">
         <menu
               label="Convert the Java code"
               path="additions"
               id="menu1">
            <separator
                  name="group4">
            </separator>
         </menu>
         <action
               class="action.Goal"
               icon="icons/goal.gif"
               id="GoalAction"
               label="Goal"
               menubarPath="menu1/group4"
               tooltip="goal model">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.xmi"
            id="contribution1">
         <menu
               label="Convert the goal model"
               path="additions"
               id="menu1">
            <separator
                  name="group5">
            </separator>
         </menu>
         <action
               class="action.Q7"
               icon="icons/goal.gif"
               id="Q7Action"
               label="Q7"
               menubarPath="menu1/group5"
               tooltip="q7 goal model">
         </action>
      </objectContribution>
   </extension>	
</plugin>
