<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.example.org/my/dsl" 
       class = "q7dsl.Q7dslPackage"
       genModel = "src-gen/org/example/dsl/q7dsl.genmodel" /> 
  </extension>
<!--   
   <extension point="core.convertor">
      <convertor id="Q7 to Concrete EMF" class="convertor.Q7_EMF"
            input="q7" output="q7.dsl"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.q7"
            id="contribution1">
         <menu
               label="Convert the Q7 representation into"
               path="additions"
               id="menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="action.EMF"
               icon="icons/telos.gif"
               id="EMFAction"
               label="Concrete EMF"
               menubarPath="menu1/group1"
               tooltip="concrete EMF model">
         </action>
      </objectContribution>
   </extension>
-->
</plugin>

