<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin id="it.itc.sra.taom4e.platform"
   name="%pluginName"
   version="0.3.0"
   provider-name="%providerName"
   class="it.itc.sra.taom4e.platform.PlatformPlugin">

   <runtime>
      <library name="taom4eplatform.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="it.itc.sra.taom4e.model"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.views"/>
   </requires>
   
   <extension-point id="modelPackage" name="TAOM4E: extending model packages" schema="schema/modelPackage.exsd"/>
   
   <extension point="org.eclipse.ui.perspectives">
   		<perspective
   			name="TAOM4E"
			class="it.itc.sra.taom4e.platform.perspective.TAOM4EPerspective"
			id="it.itc.sra.taom4e.platform.perspective.TAOM4EPerspective"
			icon="plugin_images/Taom4EEditor.gif">
		</perspective>
	</extension>
   
   <extension point="org.eclipse.ui.preferencePages">
		<page 
			id="TAOM4EPreferencePage"
			name="TAOM4E"
			class="it.itc.sra.taom4e.platform.preferences.TAOM4EPreferencePage">
		</page>
	</extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
            class="it.itc.sra.taom4e.platform.editor.TroposEditor"
            icon="plugin_images/Taom4EEditor.gif"
            default="false"
            contributorClass="it.itc.sra.taom4e.platform.actions.TroposEditorActionBarContributor"
            name="%troposEditor.name"
            id="it.itc.sra.taom4e.platform.editor.TroposEditor"
            extensions="tropos"/>
   </extension>

	<extension point="org.eclipse.ui.propertyPages">
    	<page
    		adaptable="false"
	        objectClass="org.eclipse.core.resources.IFile"
    	    icon="plugin_images/Taom4EEditor.gif"
        	nameFilter="*.tropos"
	        class="it.itc.sra.taom4e.platform.model.properties.VisualPropertyPage"
    	    name="Visual Properties"
        	id="it.itc.sra.taom4e.platform.model.properties.VisualPropertyPage"/>
	 </extension>
</plugin>