<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="core.example">
      <example file="bpel/componenx_istar.q7"/>
   </extension>
   <extension point="core.convertor">
      <convertor id="goalmodelToBpel" class="convertor.GoalModel_BPEL"
            input="goalmodel" output="bpel"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.goalmodel"
            id="contribution2">
         <menu
               label="Convert the Goal Model into"
               path="additions"
               id="menu2">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="bpel.action.BPEL"
               icon="icons/bpel.gif"
               id="BPEL"
               label="BPEL"
               menubarPath="menu2/group2"
               tooltip="BPEL process model">
         </action>
      </objectContribution>      
   </extension>
</plugin>
