<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension point="core.generator">
      <generator id="Q7 DSL editor generation" 
      	class="codegen.Q7DSLEditorGeneration"/>
   </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.example.org/my/dsl" 
       class = "q7dsl.Q7dslPackage"
       genModel = "src-gen/org/example/dsl/q7dsl.genmodel" /> 
  </extension>
</plugin>

