<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point 
   	id="convertor" 
   	name="Convertor Extension Point" 
   	schema="schema/convertor.exsd"/>
   <extension-point 
   	id="example" 
   	name="Convertor Extension Point" 
   	schema="schema/example.exsd"/>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet label="Actions"
            visible="true"
            id="action.actionSet">
         <menu id="menu" label="OpenOME">
            <separator name="group"/>
         </menu>
         <action
               class="action.CreateExamplesAction"
               icon="icons/example.gif"
               id="action1"
               label="Examples"
               menubarPath="menu/group"
               toolbarPath="group"
               tooltip="Create the Examples project">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup/>
   </extension>     
   <extension point="org.eclipse.ui.preferencePages">
      <page name="OpenOME"
            category="primary"
            class="ui.PrefPage"
            id="edu.toronto.cs.ome.eclipse.preference">
      </page>
   </extension>
   <extension
         id="edu.toronto.cs.ome.eclipse"
         name="OpenOME"
         point="org.eclipse.ui.perspectives">
      <perspective
            name="OpenOME"
            icon="icons/goal.gif"
            class="ui.Perspective"
            id="ui.perspective.openome">
      </perspective>
   </extension>
   <extension point="org.eclipse.help.toc">
      <toc file="help.xml"/>
      <toc file="helpToc.xml" primary="true"/>
   </extension>
   <extension point="org.eclipse.core.runtime.applications"
         id="OpenOME" name="OpenOME">
      <application>
         <run
            class="ui.App">
         </run>
      </application>
   </extension>
   <extension
         id="openome"
         point="org.eclipse.core.runtime.products">
      <product
            application="core.OpenOME"
            name="openome">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="aboutImage"
               value="eclipse_lg.gif"/>
         <property
               name="aboutText"
               value="%productBlurb"/>
         <property
               name="windowImages"
               value="icons/eclipse_lg.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png"/>
         <property
               name="startupForegroundColor"
               value="C8D5EA"/>
         <property
               name="startupMessageRect"
               value="7,220,441,20"/>
         <property
               name="startupProgressRect"
               value="0,280,455,15"/>            
      </product>
   </extension>
</plugin>
