<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="it.itc.sra.taom4e.model"
   name="%pluginName"
   version="0.3.0"
   provider-name="%providerName"
   class="it.itc.sra.taom4e.model.ModelPlugin">

  <requires>
    <import plugin="org.eclipse.core.runtime" />
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.emf.ecore" export="true"/>
    <import plugin="org.eclipse.jface"/>
    <import plugin="org.eclipse.ui" export="true"/>
    <import plugin="org.eclipse.emf.ecore.xmi"/>
    <import plugin="org.eclipse.ui.ide"/>
  </requires>

  <runtime>
    <library name="taom4emodel.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///it/itc/sra/taom4e/model/core/gencore.ecore" 
       class = "it.itc.sra.taom4e.model.core.gencore.GencorePackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///it/itc/sra/taom4e/model/core/informalcore.ecore" 
       class = "it.itc.sra.taom4e.model.core.informalcore.InformalcorePackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///it/itc/sra/taom4e/model/core/informalcore/formalcore.ecore" 
       class = "it.itc.sra.taom4e.model.core.informalcore.formalcore.FormalcorePackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///it/itc/sra/taom4e/model/diagram/gendiagram.ecore" 
       class = "it.itc.sra.taom4e.model.diagram.gendiagram.GendiagramPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///it/itc/sra/taom4e/model/diagram/goaldiagram.ecore" 
       class = "it.itc.sra.taom4e.model.diagram.goaldiagram.GoaldiagramPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///it/itc/sra/taom4e/model/diagram/actordiagram.ecore" 
       class = "it.itc.sra.taom4e.model.diagram.actordiagram.ActordiagramPackage" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///it/itc/sra/taom4e/model/project.ecore" 
       class = "it.itc.sra.taom4e.model.project.ProjectPackage" />
  </extension>


  <extension point="org.eclipse.ui.newWizards">
    <category
      name="%_UI_Wizard_category"
      id="it.itc.sra.taom4e.model.Wizard.category.ID">
    </category>
    <wizard
      name="%_UI_Taom4EModelWizard_label"
      icon="icons/Taom4EEditor.gif"
      category="it.itc.sra.taom4e.model.Wizard.category.ID"
      class="it.itc.sra.taom4e.model.wizard.Taom4EModelWizard"
      id="it.itc.sra.taom4e.model.wizard.Taom4EModelWizard.ID">
      <description>
        %_UI_Taom4EModelWizard_description
      </description>
      <selection
        class="org.eclipse.core.resources.IResource">
      </selection>
    </wizard>
  </extension>
</plugin>

