<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="core.example">
     <example file="componenx.q7"/>
     <example file="lapouchnian05deas.pdf"/>
   </extension>
   <extension point="core.convertor">
      <convertor id="Goalmodel to WBIModel"
            class="convertor.GoalModel_WBIModel"
            input="goalmodel" output="schema1" />            
   </extension>
   <extension point="core.generator">
      <generator id="WBI EMF model generation" 
      	class="codegen.WBIEMFProjectsGeneration"/>
   </extension>   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.goalmodel"
            id="goalmodel">
         <menu
               label="Convert the Goal Model into"
               path="additions"
               id="menu2">
            <separator
                  name="group3">
            </separator>
         </menu>
         <action
               class="action.WBIModel"
               icon="icons/WBIModel.gif"
               id="WBIModelAction"
               label="WBIModel"
               menubarPath="menu2/group3"
               tooltip="WBI Model representation">
         </action>
      </objectContribution>      
   </extension>
</plugin>
