<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.example.dsl.editor.q7dslEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="q7"
            icon="icons/sample.gif"
            id="q7.dsl.editor.q7dslEditor"
            name="q7dsl Editor">
      </editor>
   </extension>

   <extension
         id="Problem"
         name="q7dsl Problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
