<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension id="ide" point="org.eclipse.core.runtime.products"> 
      <product name="OpenOME" application="org.eclipse.ui.ide.workbench" description="%productBlurb"> 
          <property name="windowImages" value="eclipse.gif,eclipse32.gif,eclipse48.gif,eclipse.png,eclipse32.png"/> 
          <property name="aboutImage" value="eclipse_lg.gif"/> 
          <property
                name="aboutText"
                value="The Organization Modelling Environment (OME) is a general, &#x0D;&#x0A;&#x0D;&#x0A;goal-oriented and/or agent-oriented modeling and analysis tool. &#x0D;&#x0A;&#x0D;&#x0A;It provides users with a graphical interface to develop models, &#x0D;&#x0A;&#x0D;&#x0A;and supports access to a powerful knowledge base that allows for &#x0D;&#x0A;&#x0D;&#x0A;sophisticated computer-aided analysis. This tool is intended to &#x0D;&#x0A;&#x0D;&#x0A;provide software developers with a clear link between the &#x0D;&#x0A;&#x0D;&#x0A;requirements, specification and architectural design phases of &#x0D;&#x0A;&#x0D;&#x0A;development. Attention is also being placed on this use of this tool &#x0D;&#x0A;&#x0D;&#x0A;in business process reengineering.&#x0D;&#x0A;&#x0D;&#x0A;OpenOME integrates an improved version of OME with other tools &#x0D;&#x0A;&#x0D;&#x0A;to support goal-oriented, agent-oriented and aspect-oriented &#x0D;&#x0A;&#x0D;&#x0A;requirements engineering."/> 
          <property name="appName" value="Eclipse"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/> 
          <property
                name="startupForegroundColor"
                value="C8D5EA"/>
          <property
                name="startupMessageRect"
                value="7,220,441,20"/>
          <property
                name="startupProgressRect"
                value="0,280,455,15"/>
         <property
          		name="introTitle"
          		value="%productIntroTitle"/>
          <property
          		name="introBrandingImage"
          		value="product:intro-eclipse.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
		  <property
				name="introDescription-overview"
				value="%introDescription-overview"/>
		  <property
				name="introDescription-tutorials"
				value="%introDescription-tutorials"/>
		  <property
				name="introDescription-samples"
				value="%introDescription-samples"/>                
      </product> 
   </extension> 
   
   	<extension
		point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.platform.ide">
      </introProductBinding>
    </extension>

   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.platform.team"
            name="%cheatsheet.category.team">
      </category>
      <cheatsheet
            category="org.eclipse.platform.team"
            contentFile="$nl$/cheatsheets/cvs_checkout.xml"
            id="org.eclipse.platform.cvs.checkout"
            name="%cheatsheet.cvs.checkout.name">
         <description>
            %cheatsheet.cvs.checkout.desc
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.platform.team"
            contentFile="$nl$/cheatsheets/cvs_merge.xml"
            id="org.eclipse.platform.cvs.merge"
            name="%cheatsheet.cvs.merge.name">
         <description>
            %cheatsheet.cvs.merge.desc
         </description>
      </cheatsheet>
   </extension>
   <!-- =====================================================  -->
   <!-- Standby Content Part contributions                     -->
   <!-- =====================================================  -->
   <extension point="org.eclipse.ui.intro.configExtension">
      <standbyContentPart
            id="org.eclipse.platform.cheatsheet"
            class="org.eclipse.platform.internal.CheatSheetStandbyContent"
            pluginId="org.eclipse.platform"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/overviewEx.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorialsEx.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnewEx1.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnewEx2.xml"/>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnewEx3.xml"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.intro.universal.ExtensionFactory:welcomeCustomization"
            id="org.eclipse.platform.introCustomization"
            name="%introCustomizationPreference.name">
         <keywordReference id="org.eclipse.ui.ide.appearance"/>
      </page>
   </extension>

</plugin>
