<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="edu.toronto.cs.q7.tests"
   name="%pluginName"
   version="0.0.14"
   provider-name="%providerName"
   class="edu.toronto.cs.q7.tests.Q7TestPlugin">

   <runtime>
      <library name="tests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="edu.toronto.cs.q7"/>
      <import plugin="org.junit"/>
      <import plugin="edu.toronto.cs.ome.eclipse"/>
   </requires>
</plugin>
