<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.xmlsoap.schemas.ws._2003._03.business.process.presentation.ProcessModelWizardID"
      name = "%_UI_ProcessModelWizard_label"
      class = "org.xmlsoap.schemas.ws._2003._03.business.process.presentation.ProcessModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/ProcessModelFile.gif">
      <description>%_UI_ProcessModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.xmlsoap.schemas.ws._2003._03.business.process.presentation.ProcessEditorID"
        name = "%_UI_ProcessEditor_label"
        icon = "icons/full/obj16/ProcessModelFile.gif"
        extensions = "process"
        class = "org.xmlsoap.schemas.ws._2003._03.business.process.presentation.ProcessEditor" 
        contributorClass="org.xmlsoap.schemas.ws._2003._03.business.process.presentation.ProcessActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.xmlsoap.schemas.wsdl.presentation.WsdlModelWizardID"
      name = "%_UI_WsdlModelWizard_label"
      class = "org.xmlsoap.schemas.wsdl.presentation.WsdlModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/WsdlModelFile.gif">
      <description>%_UI_WsdlModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.xmlsoap.schemas.wsdl.presentation.WsdlEditorID"
        name = "%_UI_WsdlEditor_label"
        icon = "icons/full/obj16/WsdlModelFile.gif"
        extensions = "wsdl"
        class = "org.xmlsoap.schemas.wsdl.presentation.WsdlEditor" 
        contributorClass="org.xmlsoap.schemas.wsdl.presentation.WsdlActionBarContributor" >
    </editor>
  </extension>    
</plugin>
