<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ibm.com/wbim/bomSchema1.0" 
       class = "com.ibm.wbim.bom.schema1.Schema1Package" />
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="schema1" 
       class="com.ibm.wbim.bom.schema1.util.Schema1ResourceFactoryImpl" />
  </extension>

</plugin>

